/* 851電機文字 */
@font-face {
  font-family: "851DianJiWenZiTi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/851DianJiWenZiTi.woff2) format("woff2");
}

/* 莫大毛筆字體 */
@font-face {
  font-family: "Bakudai";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/Bakudai.woff2) format("woff2");
}

/* 波塔 */
@font-face {
  font-family: "BoTa";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/BoTa.woff2) format("woff2");
}

/* 粉筆體 */
@font-face {
  font-family: "Chalk";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/Chalk.woff2) format("woff2");
}

/* 超級細ゴシック體 */
@font-face {
  font-family: "ChaoJiXi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/ChaoJiXi.woff2) format("woff2");
}

/* 公司LOGO圓體 */
@font-face {
  font-family: "CorpRound";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/CorpRound.woff2) format("woff2");
}

/* 黑板粉筆體 */
@font-face {
  font-family: "Crayon";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/Crayon.woff2) format("woff2");
}

/* 俐方體11號 */
@font-face {
  font-family: "Cubic";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/Cubic.woff2) format("woff2");
}

/* 豆豆體 */
@font-face {
  font-family: "Doudouziti";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/Doudouziti.woff2) format("woff2");
}

/* 王漢宗特黑體 */
@font-face {
  font-family: "HanWangHeiHeavy";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HanWangHeiHeavy.woff2) format("woff2");
}

/* 王漢宗細黑體 */
@font-face {
  font-family: "HanWangHeiLight";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HanWangHeiLight.woff2) format("woff2");
}

/* 王漢宗中楷注音 */
@font-face {
  font-family: "HanWangKaiMediumChuIn";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HanWangKaiMediumChuIn.woff2) format("woff2");
}

/* 王漢宗勘亭流 */
@font-face {
  font-family: "HanWangKanTan";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HanWangKanTan.woff2) format("woff2");
}

/* 王漢宗中隸書 */
@font-face {
  font-family: "HanWangLiSuMedium";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HanWangLiSuMedium.woff2) format("woff2");
}

/* 王漢宗超明體 */
@font-face {
  font-family: "HanWangMingBlack";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HanWangMingBlack.woff2) format("woff2");
}

/* 王漢宗魏碑體 */
@font-face {
  font-family: "HanWangWeBe";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HanWangWeBe.woff2) format("woff2");
}

/* 王漢宗特圓體 */
@font-face {
  font-family: "HanWangYenHeavy";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HanWangYenHeavy.woff2) format("woff2");
}

/* 王漢宗細圓體 */
@font-face {
  font-family: "HanWangYenLight";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HanWangYenLight.woff2) format("woff2");
}

/* 王漢宗綜藝體 */
@font-face {
  font-family: "HanWangZonYi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HanWangZonYi.woff2) format("woff2");
}

/* 漢字筆順體原版 */
@font-face {
  font-family: "HanZiBiShunZiTi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HanZiBiShunZiTi.woff2) format("woff2");
}

/* 衡山毛筆草書 */
@font-face {
  font-family: "HengShanMaoBiCaoShu";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HengShanMaoBiCaoShu.woff2) format("woff2");
}

/* 刻石錄顏體 */
@font-face {
  font-family: "I-Ngaan";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/I-Ngaan.woff2) format("woff2");
}

/* 刻石錄鋼筆鶴體 */
@font-face {
  font-family: "I-PenCrane-B";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/I-PenCrane-B.woff2) format("woff2");
}

/* 芫荽體 */
@font-face {
  font-family: "Iansui";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/Iansui.woff2) format("woff2");
}

/* 清松手寫體1 */
@font-face {
  font-family: "JasonHandwriting1";
  src: url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting1-Regular.woff2) format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting1-Regular.woff) format("woff");
}

/* 清松手寫體2 */
@font-face {
  font-family: "JasonHandwriting2";
  src: url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting2-Regular.woff2) format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting2-Regular.woff) format("woff");
}

/* 清松手寫體3 */
@font-face {
  font-family: "JasonHandwriting3";
  src: url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting3-Regular.woff2) format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting3-Regular.woff) format("woff");
}

/* 清松手寫體4 */
@font-face {
  font-family: "JasonHandwriting4";
  src: url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting4-Regular.woff2) format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting4-Regular.woff) format("woff");
}

/* jf open 粉圓 */
@font-face {
  font-family: "JfOpenhuninn";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/JfOpenhuninn.woff2) format("woff2");
}

/* 解星 B */
@font-face {
  font-family: "KaiseiTokumin";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/KaiseiTokumin.woff2) format("woff2");
}

/* 荊南麥圓體 */
@font-face {
  font-family: "KingnamMaiyuan";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/KingnamMaiyuan.woff2) format("woff2"),
  url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/KingnamMaiyuan.woff) format("woff");
}

/* 苦累蛙圓體 */
@font-face {
  font-family: "Kurewa";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/Kurewa.woff2) format("woff2");
}

/* Mamelon字體 */
@font-face {
  font-family: "Mamelon";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/Mamelon.woff2) format("woff2");
}

/* Mamelon新版字體 */
@font-face {
  font-family: "MamelonHi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/MamelonHi.woff2) format("woff2");
}

/* 正風毛筆字體（衡山毛筆行書） */
@font-face {
  font-family: "MasaFont";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/MasaFont.woff2) format("woff2");
}

/* 內海字體 */
@font-face {
  font-family: "NaikaiFont";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/NaikaiFont.woff2) format("woff2");
}

/* 馬克筆手寫體 */
@font-face {
  font-family: "NishikiTeki";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/NishikiTeki.woff2) format("woff2");
}

/* 胖胖豬肉體 */
@font-face {
  font-family: "PangPangZhuRouTi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/PangPangZhuRouTi.woff2) format("woff2");
}

/* 破碎零號字 */
@font-face {
  font-family: "PoSuiLingHaoZi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/PoSuiLingHaoZi.woff2) format("woff2");
}

/* 大波浪圓體 */
@font-face {
  font-family: "PopGothicCjkJp";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/PopGothicCjkJp.woff2) format("woff2");
}

/* 千圖馬克手寫體 */
@font-face {
  font-family: "QianTuMaKeShouXieTi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/QianTuMaKeShouXieTi.woff2) format("woff2");
}

/* 黒薔薇 */
@font-face {
  font-family: "Qiang";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/Qiang.woff2) format("woff2");
}

/* 青柳隷書 */
@font-face {
  font-family: "QingLiuShu";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/QingLiuShu.woff2) format("woff2");
}

/* 隨峰體 */
@font-face {
  font-family: "SuiFengTi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/SuiFengTi.woff2) format("woff2");
}

/* 獅尾詠腿黑體 */
@font-face {
  font-family: "SweiFistLegCJKjp";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/SweiFistLegCJKjp.woff2) format("woff2");
}

/* 獅尾四季春 */
@font-face {
  font-family: "SweiSpringSugarCJKtc";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/SweiSpringSugarCJKtc.woff2) format("woff2");
}

/* 獅尾牙膏圓體 */
@font-face {
  font-family: "SweiToothpasteCJKtc";
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-toothpaste@2.0/WebFont/CJK%20TC/SweiToothpasteCJKtc-Regular.woff2) format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/swei-toothpaste@2.0/WebFont/CJK%20TC/SweiToothpasteCJKtc-Regular.woff) format("woff");
}

/* 糖果手寫粗體 */
@font-face {
  font-family: "TanugoTangGuoShouXieTiBold";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/TanugoTangGuoShouXieTiBold.woff2) format("woff2");
}

/* 糖果手寫體 */
@font-face {
  font-family: "TanugoTangGuoShouXieTiRegular";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/TanugoTangGuoShouXieTiRegular.woff2) format("woff2");
}

/* たぬき油性マジック */
@font-face {
  font-family: "Tanukimagic";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/Tanukimagic.woff2) format("woff2");
}

/* 鵪鶉字體 */
@font-face {
  font-family: "UzuraZiTi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/UzuraZiTi.woff2) format("woff2");
}

/* 無心手寫體 */
@font-face {
  font-family: "WuXinShouXieTi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/WuXinShouXieTi.woff2) format("woff2");
}

/* 賢二體 */
@font-face {
  font-family: "XianErTi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/XianErTi.woff2) format("woff2");
}

/* 字體圈欣意冠黑體 */
@font-face {
  font-family: "XinYiGuanHeiTi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/XinYiGuanHeiTi.woff2) format("woff2");
}

/* YOz手寫體 */
@font-face {
  font-family: "YOzShouXieTi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/YOzShouXieTi.woff2) format("woff2");
}

/* 英椎行書 */
@font-face {
  font-family: "YingZhuiXingShu";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/YingZhuiXingShu.woff2) format("woff2");
}

/* 佑字 */
@font-face {
  font-family: "YouZi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/YouZi.woff2) format("woff2");
}

/* 源影黑體 */
@font-face {
  font-family: "YuanYingHeiTi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/YuanYingHeiTi.woff2) format("woff2");
}

/* 宅在家粉條甜 */
@font-face {
  font-family: "ZhaiZaiJiaFenTiaoTian";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/ZhaiZaiJiaFenTiaoTian.woff2) format("woff2");
}
/* 宅在家粉條甜 */
@font-face {
  font-family: "ZhaiZaiJiaFenTiaoTian";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/ZhaiZaiJiaFenTiaoTian.woff2) format("woff2");
}

/* 宅在家麥克筆 */
@font-face {
  font-family: "ZhaiZaiJiaMaiKeBi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/ZhaiZaiJiaMaiKeBi.woff2) format("woff2");
}

/* 宅在家自動筆 */
@font-face {
  font-family: "ZhaiZaiJiaZiDongBi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/ZhaiZaiJiaZiDongBi.woff2) format("woff2");
}

/* 佐佐木字體 */
@font-face {
  font-family: "ZuoZuoMuZiTi";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/ZuoZuoMuZiTi.woff2) format("woff2");
}