
.my-form {
    counter-reset: number;
    border-radius: 4px;
    border: 1px solid rgb(114, 177, 250);
    background: rgb(235, 241, 248);
    padding:10px
}

.my-row {
    padding: 6px 0px;
    display: block;
}

.my-label {
    margin: 6px 0px;
    font-weight: bold;
    display: block;
    font-size: 1em;
}

.my-label:before {
    counter-increment: number;
    content: counter(number)". ";
    color: rgb(39, 111, 139);
}

.my-content {
    padding-left: 12px;
}

.my-input {
    padding: 2px 4px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea.my-input {
    line-height: 1.5;
    min-width: 80%;
    max-width: 100%;
    min-height: 5em;
}

.my-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.my-help {
    color: rgb(7, 143, 161);
    border-bottom: 1px dashed rgb(228, 110, 110);
    padding-top: 3px;
    margin-left: 20px;
    display: inline-block;
}

.my-help::before {
    font-family: "FontAwesome";
    font-size: 1.1em;
    content: "\f0a5  ";
    margin-right: 4px;
}

.my-example{
    color: white;
    background-color: rgb(39, 78, 128);
    padding: 4px;
    margin-top: 10px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    width: 80%;
    line-height: 1.5;
}

.my-example::before {
    color: rgb(39, 78, 128);
    background-color: white;
    font-weight: bold;
    content: "   example  ";
    margin-right: 4px;
}