.my-form {
  counter-reset: number;
  border-radius: 0.25rem;
  border: 0.0625rem solid rgb(114, 177, 250);
  background: rgb(235, 241, 248);
  padding: 0.625rem;
}

.my-row {
  padding: 0.375rem 0;
  display: block;
}

.my-label {
  margin: 0.375rem 0;
  font-weight: bold;
  display: block;
  font-size: 1rem;
}

.my-label:before {
  counter-increment: number;
  content: counter(number) ". ";
  color: rgb(39, 111, 139);
}

.my-content {
  padding-left: 0.75rem;
}

.my-input {
  padding: 0.125rem 0.25rem;
  font-size: 0.975rem;
  height: unset;
  color: #222224;
  background-color: #fff;
  background-image: none;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  -webkit-box-shadow: inset 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.my-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.075),
    0 0 0.5rem rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.075),
    0 0 0.5rem rgba(102, 175, 233, 0.6);
}

.my-text {
  padding: 0.4375rem 0.25rem;
  font-size: 1rem;
  height: unset;
  color: #555;
  background-color: transparent;
  background-image: none;
  border: none;
}

.my-text:focus {
  border: none;
  outline: 0;
}

input[type="checkbox"].my-input {
  height: 1rem;
}

.my-100 {
  width: 100%;
}

textarea.my-input {
  line-height: 1.5;
  min-width: 80%;
  max-width: 100%;
  min-height: 5rem;
}

.my-help {
  color: rgb(7, 143, 161);
  border-bottom: 0.0625rem dashed rgb(228, 110, 110);
  padding-top: 0.1875rem;
  margin-left: 1.25rem;
  display: inline-block;
}

.my-help::before {
  font-family: "FontAwesome";
  font-size: 1.1rem;
  content: "\f0a5  ";
  margin-right: 0.25rem;
}

.my-example {
  color: white;
  background-color: rgb(39, 78, 128);
  padding: 0.25rem;
  margin-top: 0.625rem;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.25rem;
  width: 80%;
  line-height: 1.5;
}

.my-example::before {
  color: rgb(39, 78, 128);
  background-color: white;
  font-weight: bold;
  content: "   example  ";
  margin-right: 0.25rem;
}