.rounded-list a,
.rounded-list span {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out;
}

.rounded-list a:hover,
.rounded-list span:hover {
  background: #eee;
}

.rounded-list a:hover:before,
.rounded-list span:hover:before {
  transform: rotate(360deg);
}

.rounded-list a:before,
.rounded-list span:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}

.rectangle-list a,
.rectangle-list span {
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  *padding: .4em;
  margin: .5em 0 .5em 2.5em;
  background: #ddd;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;
}

.rectangle-list a:hover,
.rectangle-list span:hover {
  background: #eee;
}

.rectangle-list a:before,
.rectangle-list span:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #fa8072;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.rectangle-list a:after,
.rectangle-list span:after {
  position: absolute;
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

.rectangle-list a:hover:after,
.rectangle-list span:hover:after {
  left: -.5em;
  border-left-color: #fa8072;
}

.rectangle-list li {
  display: table-row;
  border: none;
}
