ul.vertical_menu,
ol.vertical_menu {
    position: relative;
    background: transparent;
    width: 100%;
    margin: auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
    z-index: 7;
}

ul.border,
ol.border {
    background: #fff;
    border: 1px solid rgb(210, 213, 214) ;
    border-radius: 5px;
}

ul.num,
ol.num {
    counter-reset: number;
}

ul.num>li a:first-child:before,
ol.num>li a:first-child:before {
    counter-increment: number;
    content: counter(number)". ";
    color: rgb(39, 111, 139);
}

.vertical_menu li {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    padding: 8px 6px;
    border-bottom: 1px dotted #cfcfcf;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.vertical_menu li:hover {
    background: #efefef;
}

.vertical_menu li:hover a {
    /* color: #ea4f35; */
    text-decoration: none;
}

.vertical_menu li:hover i {
    /* color: #ea4f35; */
}

.vertical_menu i {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.vertical_menu em {
    font-size: 0.625em;
    background: #ea4f35;
    padding: 3px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-style: normal;
    color: #fff;
    margin-top: 17px;
    margin-right: 15px;
    line-height: 10px;
    height: 10px;
    float: right;
}

.vertical_menu li.selected a {
    background: #efefef;
}
.vertical_menu li:last-child {
    border-bottom: none;
  }