ul.vertical_menu,
ol.vertical_menu {
    position: relative;
    background: transparent;
    width: 100%;
    margin: auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
    z-index: 7;
}

ul.border,
ol.border {
    background: #fff;
    border: 0.0625rem solid rgb(210, 213, 214);
    border-radius: 0.3125rem;
}

ul.num,
ol.num {
    counter-reset: number;
}

ul.num>li a:first-child:before,
ol.num>li a:first-child:before {
    counter-increment: number;
    content: counter(number)". ";
    color: rgb(39, 111, 139);
}

.vertical_menu li {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    padding: 0.5rem 0.375rem;
    border-bottom: 0.0625rem dotted #cfcfcf;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.vertical_menu li:hover {
    background: #efefef;
}

.vertical_menu li:hover a {
    /* color: #ea4f35; */
    text-decoration: none;
}

.vertical_menu li:hover i {
    /* color: #ea4f35; */
}

.vertical_menu i {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.vertical_menu em {
    font-size: 0.7em;
    background: #ea4f35;
    padding: 0.1875rem 0.3125rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    border-radius: 0.625rem;
    font-style: normal;
    color: #fff;
    margin-top: 1.0625rem;
    margin-right: 0.9375rem;
    line-height: 0.625rem;
    height: 0.625rem;
    float: right;
}

.vertical_menu li.selected a {
    background: #efefef;
}

.vertical_menu li:last-child {
    border-bottom: none;
}

.vertical_menu li.sm{
    font-size: 0.8em;
}
.vertical_menu li.title.sm{
    font-size: 0.95em;
}
.vertical_menu li.title{
    background: #4b8573;
    color:white;
}