/* 針對XOOPS 2.5.*版之前的後台做微調 */

/* @import url(normalize.css); */

/* body ,div , a , li ,td ,th{
} */
@import url('my-input.css');

.tooltip {
    opacity: 100;
    position: relative;
    display: inline;
    filter: none;
}

.table-striped tbody>tr:nth-child(2n+1)>th,
th {
    background-color: rgb(46, 50, 59);
    color: white;
}

li {
    line-height: 1.5em;
}

a.btn,
button.btn {
    font-weight: normal;
    background-color: none;
    color: white !important;
    /* font-size: 0.92em; */
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.xo-formbuttons:hover,
.formButton:hover,
button:hover {
    padding: 6px 12px;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}