@import url("fonts.css");
@import url("ckeditor.css?t=20260127");

body {
  overflow-x: hidden;
}

#xoops_theme_center_zone {
  padding-bottom: 3rem;
}

a.block_config {
  position: absolute;
  z-index: 1;
  top: 0.375rem;
  right: 0.625rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url(../images/block_config.png);
}

a.tad_block_config {
  position: absolute;
  z-index: 2;
  top: 0.375rem;
  right: 1.25rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url(../images/tad_block_config.png);
}

a.block_config:hover,
a.tad_block_config:hover {
  background-image: url(../images/block_config_hover.png);
}

/* jGrowl Box style */
div.center div.jGrowl-notification, div.center div.jGrowl-closer {
  margin-left: auto;
  margin-right: auto;
}

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
  background-color: #ffffff;
  color: #3b2001;
  width: 100%;
  padding: 0.7rem;
  margin-top: 10rem;
  margin-bottom: 1rem;
  font-family: "Noto Sans TC", Tahoma, Geneva, sans-serif;
  font-size: 1.4rem;
  text-align: center;
  border: 0.25rem solid #e98c4d;
  display: none;
  border-radius: 0.3125rem;
  box-shadow: 0.3125rem 0.3125rem 0.625rem #9e9e9e;
}

div.jGrowl div.jGrowl-notification {
  min-height: 4.375rem;
}

div.jGrowl div.jGrowl-notification div.jGrowl-header {
  font-weight: bold;
  font-size: 0.825rem;
}

/* jGrowl Close button */
div.jGrowl div.jGrowl-notification button.jGrowl-close {
  float: right;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ceda8f;
  border: 0.1875rem solid #729932;
  width: 2.5rem; /* 設定寬度 */
  height: 2.5rem; /* 設定高度 */
  border-radius: 50%; /* 設定圓角為50%使其成為圓形 */
}

div.jGrowl div.jGrowl-closer {
  height: 0.9375rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  cursor: pointer;
  font-size: 0.925rem;
  font-weight: bold;
  text-align: center;
}

.toolbar_bootstrap_nav {
  position: relative;
  margin: 1.25rem 0;
}
.toolbar_bootstrap_nav ul {
  margin: 0;
  padding: 0;
}
.toolbar_bootstrap_nav li {
  margin: 0 0.3125rem 0.625rem 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.toolbar_bootstrap_nav a {
  padding: 0.1875rem 0.75rem;
  text-decoration: none;
  color: #404a50;
  line-height: 100%;
}
.toolbar_bootstrap_nav a:hover {
  color: #1c55be;
  background: #f5f9fc;
}
.toolbar_bootstrap_nav .current a {
  background: #404a50;
  color: #fff;
  border-radius: 0.3125rem;
}
