/* 針對XOOPS 2.5.*版之前的後台做微調 */


body ,div , a , li ,td ,th{
  font-size: 12px;
}

.tooltip {
  opacity: 100;
  position: relative;
  display: inline;
  filter:none;
}

.table-striped tbody > tr:nth-child(2n+1) > th ,th  {
  background-color:rgb(46, 50, 59);
  color: white;
}

li {
  line-height: 1em;
}

a.btn {
  font-weight: normal;
  background-color: initial;
  color: initial;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .xo-formbuttons:hover, .formButton:hover, button:hover{
  padding: 6px 12px;
}

