.vjs-theme-fantasy {
  --vjs-theme-fantasy--primary: #69aef08c;
  --vjs-theme-fantasy--secondary: #fff;
}

/* by tad */

.vjs-theme-fantasy .vjs-big-play-button {
  width: 5.625rem;
  height: 5.625rem;
  background: none;
  line-height: 5.9375rem;
  font-size: 5rem;
  border: none;
  top: 50%;
  left: 50%;
  margin-top: -2.8125rem;
  margin-left: -2.8125rem;
  color: var(--vjs-theme-fantasy--secondary);
  border-radius: 5.625rem;
  border: 0.4vw solid #4c7faf;
  background: var(--vjs-theme-fantasy--primary);
}

/* .vjs-theme-fantasy .vjs-big-play-button {
  font-size: 6vw;
  height: 8vw;
  width: 8vw;
  line-height: 8vw;
  top: 48%;
  left: 48%;
  margin-top: -0.7vw;
  margin-left: -0.7vw;
  box-sizing: content-box;
  -moz-box-sizing: border-box;
  color: var(--vjs-theme-fantasy--secondary);
  border-radius: 8vw;
  border: 0.5vw solid #4c7faf;
  background: var(--vjs-theme-fantasy--primary);
} */

.vjs-theme-fantasy:hover .vjs-big-play-button,
.vjs-theme-fantasy.vjs-big-play-button:focus {
  background-color: var(--vjs-theme-fantasy--secondary);
  border: 0.4vw solid orange;
  color: orange;
}

.vjs-theme-fantasy .vjs-control-bar {
  height: 3.125rem;
}

.vjs-theme-fantasy .vjs-button>.vjs-icon-placeholder::before {
  line-height: 3.125rem;
}

.vjs-theme-fantasy .vjs-time-control {
  line-height: 3.125rem;
}

/* Play Button */
.vjs-theme-fantasy .vjs-play-control {
  font-size: 1rem;
  position: relative;
}

.vjs-theme-fantasy .vjs-volume-panel {
  order: 4;
}

.vjs-theme-fantasy .vjs-volume-bar {
  margin-top: 2.5em;
}

.vjs-theme-city .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal {
  height: 100%;
}

.vjs-theme-fantasy .vjs-progress-control .vjs-progress-holder {
  font-size: 1.5em;
}

.vjs-theme-fantasy .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.5em;
}

.vjs-theme-fantasy .vjs-play-control .vjs-icon-placeholder::before {
  height: 1.3em;
  width: 1.3em;
  margin-top: 0.2em;
  border-radius: 1em;
  box-sizing: content-box;
  -moz-box-sizing: border-box;
  border: 0.1875rem solid var(--vjs-theme-fantasy--secondary);
  top: 0.125rem;
  left: 0.5625rem;
  line-height: 1.3;
}

.vjs-theme-fantasy .vjs-play-control:hover .vjs-icon-placeholder::before {
  border: 0.1875rem solid var(--vjs-theme-fantasy--secondary);
}

.vjs-theme-fantasy .vjs-play-progress {
  background-color: var(--vjs-theme-fantasy--primary);
}

.vjs-theme-fantasy .vjs-play-progress::before {
  height: 0.8em;
  width: 0.8em;
  content: '';
  background-color: var(--vjs-theme-fantasy--primary);
  border: 0.25rem solid var(--vjs-theme-fantasy--secondary);
  border-radius: 0.8em;
  top: -0.25em;
}

.vjs-theme-fantasy .vjs-progress-control {
  font-size: 0.875em;
}

.vjs-theme-fantasy .vjs-fullscreen-control {
  order: 6;
}

.vjs-theme-fantasy .vjs-remaining-time {
  display: none;
}

/* Nyan version */
.vjs-theme-fantasy.nyan .vjs-play-progress {
  background: linear-gradient(to bottom, #fe0000 0%, #fe9a01 16.666666667%, #fe9a01 16.666666667%, #ffff00 33.332666667%, #ffff00 33.332666667%, #32ff00 49.999326667%, #32ff00 49.999326667%, #0099fe 66.6659926%, #0099fe 66.6659926%, #6633ff 83.33266%, #6633ff 83.33266%);
}

.vjs-theme-fantasy.nyan .vjs-play-progress::before {
  height: 1.3em;
  width: 1.3em;
  background: svg-load('icons/nyan-cat.svg', fill=#fff) no-repeat;
  border: none;
  top: -0.35em;
}