body {
  background: #ddd;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

#main {
  background: #fff;
  border-left: 1.25rem solid #eee;
  border-right: 1.25rem solid #eee;
  margin: 0 auto;
  max-width: 50rem;
  padding: 1.25rem;
}

pre.listing {
  background: #eee;
  border: 1px solid #ccc;
  margin: .6em 0 .3em 0;
  padding: .1em .3em;
}

pre.listing b {
  color: #f00;
}
