.vjs-playlist {
    padding: 0;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    list-style-type: none;
    overflow: auto !important;
}

.vjs-playlist img {
    object-fit: cover;
    width: 30%;
    float: left;
}

.vjs-playlist .vjs-playlist-item-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.vjs-playlist .vjs-playlist-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 1px solid rgb(199, 199, 199);
}

.vjs-playlist .vjs-playlist-thumbnail-placeholder {
    background: #f5f4ba
}

.vjs-playlist .vjs-playlist-now-playing-text {
    display: none;
    padding: 4px 0px 0px 8px;
    font-size: 0.6rem;
    text-transform: uppercase;
    color: rgb(73, 70, 218);
}

.vjs-playlist .vjs-playlist-duration {
    position: absolute;
    top: .5rem;
    left: .5rem;
    padding: 2px 5px 3px;
    margin-left: 2px;
    color: white;
    background-color: rgba(26, 26, 26, 0.8)
}

.vjs-playlist .vjs-playlist-title-container {
    display: inline-block;
    width: 70%;
    /* position: absolute; */
    /* bottom: 0; */
    box-sizing: border-box;
    padding: 4px;
    color: #000;
    /* text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black */
}

.vjs-playlist .vjs-playlist-name {
    display: inline-block;
    max-height: 3.6rem;
    padding: 0 0 4px 2px;
    font-style: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2rem;
    font-size: 0.925rem;
}

.vjs-playlist .vjs-playlist-description {
    font-size: 0.75rem;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden
}

.vjs-playlist .vjs-up-next-text {
    display: none;
    padding: .1rem 2px;
    font-size: 0.75em;
    text-transform: uppercase;
    color: rgb(218, 62, 0);
}

.vjs-playlist .vjs-up-next .vjs-up-next-text {
    display: block
}

.vjs-playlist .vjs-selected {
    background-color: #c1ddfd
}



.vjs-playlist .vjs-selected .vjs-playlist-duration {
    display: none
}

.vjs-playlist .vjs-selected .vjs-playlist-now-playing-text {
    display: block
}

.vjs-playlist .vjs-selected .vjs-playlist-title-container {
    text-shadow: none
}

.vjs-playlist-vertical {
    overflow-x: hidden;
    overflow-y: auto
}

.vjs-playlist-vertical img {
    /* width: 100%; */
    min-height: 3.375rem
}

.vjs-playlist-vertical .vjs-playlist-item {
    margin-bottom: 0.3125rem
}

.vjs-playlist-vertical .vjs-playlist-thumbnail {
    display: block;
    /* width: 100% */
}

.vjs-playlist-vertical .vjs-playlist-thumbnail img{
    border-radius: 0px !important;
}

.vjs-playlist-vertical .vjs-playlist-thumbnail-placeholder {
    height: 6.25rem
}

.vjs-playlist-horizontal {
    overflow-x: auto;
    overflow-y: hidden
}

.vjs-playlist-horizontal img {
    min-width: 100px;
    height: 100%
}

.vjs-playlist-horizontal .vjs-playlist-item-list {
    height: 100%;
    white-space: nowrap
}

.vjs-playlist-horizontal .vjs-playlist-item {
    display: inline-block;
    height: 100%;
    margin-right: 5px
}

.vjs-playlist-horizontal .vjs-playlist-thumbnail {
    display: block;
    height: 100%
}

.vjs-playlist-horizontal .vjs-playlist-thumbnail-placeholder {
    height: 100%;
    width: 180px
}

.vjs-playlist.vjs-ad-playing {
    overflow: hidden
}

.vjs-playlist.vjs-ad-playing.vjs-csspointerevents {
    pointer-events: none;
    overflow: auto
}

.vjs-playlist.vjs-ad-playing.vjs-csspointerevents .vjs-playlist-ad-overlay {
    pointer-events: auto
}

.vjs-playlist.vjs-ad-playing .vjs-playlist-ad-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; */
    background-color: rgba(0, 0, 0, 0.5)
}

.vjs-playlist {
    font-size: 0.875em
}



.vjs-mouse.vjs-playlist {
    font-size: 0.9375em
}



@media (min-width: 600px) {
    .vjs-mouse.vjs-playlist {
        font-size: 1.06em
    }

    .vjs-mouse.vjs-playlist .vjs-playlist-description {
        height: 3.1875rem;
        line-height: 1.625rem
    }

    .vjs-playlist .vjs-playlist-name {
        line-height: 1.2rem;
    }
}

@media (max-width: 520px) {

    .vjs-playlist .vjs-selected .vjs-playlist-now-playing-text,
    .vjs-playlist .vjs-up-next .vjs-up-next-text {
        display: none
    }

    .vjs-mouse.vjs-playlist .vjs-selected .vjs-playlist-now-playing-text,
    .vjs-mouse.vjs-playlist .vjs-up-next .vjs-up-next-text {
        display: none
    }
}

@media (min-width: 521px) {
    .vjs-playlist img {
        min-height: 5.3125rem
    }
}

@media (max-width: 750px) {
    .vjs-playlist .vjs-playlist-duration {
        display: none
    }
}