.share-buttons {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}

.share-buttons button {
    border: none;
    color: white;
    padding: 0.125rem;
    cursor: pointer;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    transition: opacity 0.3s;
}

.share-buttons button:hover {
    opacity: 0.8;
}

.facebook { background-color: #3b5998; }
.x { background-color: #000000; color: white;}
.messenger { background-color: #0084ff; }
.pinterest { background-color: #bd081c; }
.line { background-color: #00b900; }