.share-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.share-buttons button {
    border: none;
    color: white;
    padding: 0px 2px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 20px;
    transition: opacity 0.3s;
}

.share-buttons button:hover {
    opacity: 0.8;
}

.facebook { background-color: #3b5998; }
.x { background-color: #000000; color: white;}
.messenger { background-color: #0084ff; }
.pinterest { background-color: #bd081c; }
.line { background-color: #00b900; }