.page {
    background: #fff;
}

.infinite-scroll-preloader {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.infinite-scroll-preloader .preloader {
    width: 28px;
    height: 28px;
}