/* @import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300); */
.sweet-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 1000; }

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  width: 29.875rem;
  padding: 1.0625rem;
  border-radius: 0.3125rem;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -16rem;
  margin-top: -12.5rem;
  overflow: hidden;
  display: none;
  z-index: 2000; }
  @media all and (max-width: 33.75rem) {
    .sweet-alert {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      left: 0.9375rem;
      right: 0.9375rem; } }
  .sweet-alert h2 {
    color: #575757;
    font-size: 1.875em;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 1.5625rem 0;
    padding: 0;
    line-height: 2.5rem;
    display: block; }
  .sweet-alert p {
    color: #797979;
    font-size: 1em;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal; }
  .sweet-alert button {
    background-color: #AEDEF4;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 1.06em;
    font-weight: 500;
    border-radius: 0.3125rem;
    padding: 0.625rem 2rem;
    margin: 1.625rem 0.3125rem 0 0.3125rem;
    cursor: pointer; }
    .sweet-alert button:focus {
      outline: none;
      box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }
    .sweet-alert button:hover {
      background-color: #a1d9f2; }
    .sweet-alert button:active {
      background-color: #81ccee; }
    .sweet-alert button.cancel {
      background-color: #D0D0D0; }
      .sweet-alert button.cancel:hover {
        background-color: #c8c8c8; }
      .sweet-alert button.cancel:active {
        background-color: #b6b6b6; }
      .sweet-alert button.cancel:focus {
        box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }
    .sweet-alert button::-moz-focus-inner {
      border: 0; }
  .sweet-alert[data-has-cancel-button=false] button {
    box-shadow: none !important; }
  .sweet-alert .icon {
    width: 5rem;
    height: 5rem;
    border: 0.25rem solid gray;
    border-radius: 50%;
    margin: 1.25rem auto;
    padding: 0;
    position: relative;
    box-sizing: content-box; }
    .sweet-alert .icon.error {
      border-color: #F27474; }
      .sweet-alert .icon.error .x-mark {
        position: relative;
        display: block; }
      .sweet-alert .icon.error .line {
        position: absolute;
        height: 0.3125rem;
        width: 2.9375rem;
        background-color: #F27474;
        display: block;
        top: 2.3125rem;
        border-radius: 0.125rem; }
        .sweet-alert .icon.error .line.left {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          left: 1.0625rem; }
        .sweet-alert .icon.error .line.right {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          right: 1rem; }
    .sweet-alert .icon.warning {
      border-color: #F8BB86; }
      .sweet-alert .icon.warning .body {
        position: absolute;
        width: 0.3125rem;
        height: 2.9375rem;
        left: 50%;
        top: 0.625rem;
        border-radius: 0.125rem;
        margin-left: -0.125rem;
        background-color: #F8BB86; }
      .sweet-alert .icon.warning .dot {
        position: absolute;
        width: 0.4375rem;
        height: 0.4375rem;
        border-radius: 50%;
        margin-left: -0.1875rem;
        left: 50%;
        bottom: 0.625rem;
        background-color: #F8BB86; }
    .sweet-alert .icon.info {
      border-color: #C9DAE1; }
      .sweet-alert .icon.info::before {
        content: "";
        position: absolute;
        width: 0.3125rem;
        height: 1.8125rem;
        left: 50%;
        bottom: 1.0625rem;
        border-radius: 0.125rem;
        margin-left: -0.125rem;
        background-color: #C9DAE1; }
      .sweet-alert .icon.info::after {
        content: "";
        position: absolute;
        width: 0.4375rem;
        height: 0.4375rem;
        border-radius: 50%;
        margin-left: -0.1875rem;
        top: 1.1875rem;
        background-color: #C9DAE1; }
    .sweet-alert .icon.success {
      border-color: #A5DC86; }
      .sweet-alert .icon.success::before, .sweet-alert .icon.success::after {
        content: '';
        border-radius: 50%;
        position: absolute;
        width: 3.75rem;
        height: 7.5rem;
        background: white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .sweet-alert .icon.success::before {
        border-radius: 7.5rem 0 0 7.5rem;
        top: -0.4375rem;
        left: -2.0625rem;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 3.75rem 3.75rem;
        transform-origin: 3.75rem 3.75rem; }
      .sweet-alert .icon.success::after {
        border-radius: 0 7.5rem 7.5rem 0;
        top: -0.6875rem;
        left: 1.875rem;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 0 3.75rem;
        transform-origin: 0 3.75rem; }
      .sweet-alert .icon.success .placeholder {
        width: 5rem;
        height: 5rem;
        border: 0.25rem solid rgba(165, 220, 134, 0.2);
        border-radius: 50%;
        box-sizing: content-box;
        position: absolute;
        left: -0.25rem;
        top: -0.25rem;
        z-index: 2; }
      .sweet-alert .icon.success .fix {
        width: 0.3125rem;
        height: 5.625rem;
        background-color: white;
        position: absolute;
        left: 1.75rem;
        top: 0.5rem;
        z-index: 1;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .sweet-alert .icon.success .line {
        height: 0.3125rem;
        background-color: #A5DC86;
        display: block;
        border-radius: 0.125rem;
        position: absolute;
        z-index: 2; }
        .sweet-alert .icon.success .line.tip {
          width: 1.5625rem;
          left: 0.875rem;
          top: 2.875rem;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        .sweet-alert .icon.success .line.long {
          width: 2.9375rem;
          right: 0.5rem;
          top: 2.375rem;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    .sweet-alert .icon.custom {
      background-size: contain;
      border-radius: 0;
      border: none;
      background-position: center center;
      background-repeat: no-repeat; }

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@-moz-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
@-moz-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
.showSweetAlert {
  -webkit-animation: showSweetAlert 0.3s;
  -moz-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s; }

.hideSweetAlert {
  -webkit-animation: hideSweetAlert 0.2s;
  -moz-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s; }

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 0.0625rem;
    top: 1.1875rem; }
  54% {
    width: 0;
    left: 0.0625rem;
    top: 1.1875rem; }
  70% {
    width: 3.125rem;
    left: -0.5rem;
    top: 2.3125rem; }
  84% {
    width: 1.0625rem;
    left: 1.3125rem;
    top: 3rem; }
  100% {
    width: 1.5625rem;
    left: 0.875rem;
    top: 2.8125rem; } }
@-moz-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 0.0625rem;
    top: 1.1875rem; }
  54% {
    width: 0;
    left: 0.0625rem;
    top: 1.1875rem; }
  70% {
    width: 3.125rem;
    left: -0.5rem;
    top: 2.3125rem; }
  84% {
    width: 1.0625rem;
    left: 1.3125rem;
    top: 3rem; }
  100% {
    width: 1.5625rem;
    left: 0.875rem;
    top: 2.8125rem; } }
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 0.0625rem;
    top: 1.1875rem; }
  54% {
    width: 0;
    left: 0.0625rem;
    top: 1.1875rem; }
  70% {
    width: 3.125rem;
    left: -0.5rem;
    top: 2.3125rem; }
  84% {
    width: 1.0625rem;
    left: 1.3125rem;
    top: 3rem; }
  100% {
    width: 1.5625rem;
    left: 0.875rem;
    top: 2.8125rem; } }
@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 2.875rem;
    top: 3.375rem; }
  65% {
    width: 0;
    right: 2.875rem;
    top: 3.375rem; }
  84% {
    width: 3.4375rem;
    right: 0;
    top: 2.1875rem; }
  100% {
    width: 2.9375rem;
    right: 0.5rem;
    top: 2.375rem; } }
@-moz-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 2.875rem;
    top: 3.375rem; }
  65% {
    width: 0;
    right: 2.875rem;
    top: 3.375rem; }
  84% {
    width: 3.4375rem;
    right: 0;
    top: 2.1875rem; }
  100% {
    width: 2.9375rem;
    right: 0.5rem;
    top: 2.375rem; } }
@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 2.875rem;
    top: 3.375rem; }
  65% {
    width: 0;
    right: 2.875rem;
    top: 3.375rem; }
  84% {
    width: 3.4375rem;
    right: 0;
    top: 2.1875rem; }
  100% {
    width: 2.9375rem;
    right: 0.5rem;
    top: 2.375rem; } }
@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }
@-moz-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }
.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  -moz-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  -moz-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s; }

.icon.success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  -moz-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
@-moz-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  -moz-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 1.625rem;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 1.625rem;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -0.375rem; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
@-moz-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 1.625rem;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 1.625rem;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -0.375rem; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 1.625rem;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 1.625rem;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -0.375rem; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  -moz-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s; }

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }
@-moz-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }
@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }
.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  -moz-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }
@-moz-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }
@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }
.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  -moz-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate; }
