@charset "utf-8";
/* CSS Document */

/* slider layout */
.lof-slidecontent {
	position: relative;
	overflow: hidden;
	border: #F4F4F4 solid 0.0625rem;
}

.lof-slidecontent .preload {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100000;
	text-align: center;
	background: #FFF
}

.lof-slidecontent .preload div {
	height: 100%;
	width: 100%;
	background: transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;
}

.lof-slidecontent .sliders-wrapper {
	position: relative;
	height: 100%;
	width: 56.25rem;
	z-index: 3;
	overflow: hidden;
}

.lof-slidecontent ul.sliders-wrap-inner {
	overflow: hidden;
	background: transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;
	padding: 0px;
	margin: 0;
	position: absolute;
	overflow: hidden;
}

.lof-slidecontent ul.sliders-wrap-inner li {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	float: left;
	position: relative;
}

.lof-slidecontent .lof-opacity li {
	position: absolute;
	top: 0;
	left: 0;
	float: inherit;
}


.lof-slidecontent .navigator-content {
	position: absolute;
	background: none repeat scroll 0 0 #000000;
	border-radius: 0.3125rem;
	bottom: 0.625rem;
	padding: 0.3125rem 0.9375rem;
	position: absolute;
	right: 0.625rem;
}

.lof-slidecontent .navigator-wrapper {
	position: relative;
	z-index: 10;
	height: 11.25rem;
	width: 19.375rem;
	overflow: hidden;
	color: #FFF;
	float: left
}

.lof-slidecontent ul.navigator-wrap-inner {
	top: 0;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
}

.lof-slidecontent ul.navigator-wrap-inner li {
	cursor: hand;
	cursor: pointer;
	list-style: none;
	padding: 0;
	margin-left: 0px;
	overflow: hidden;
	float: left;
	display: block;
	text-align: center;
}

/*******************************************************/

ul.sliders-wrap-inner li img {
	padding: 0px;
}

.lof-slidecontent .slider-description a.readmore {
	color: #58B1EA;
	font-size: 95%;
}

.lof-slidecontent .slider-description a {
	color: #FFF;
}

.lof-slidecontent .slider-description {
	z-index: 100;
	position: absolute;
	bottom: 0.9375rem;
	left: 1.25rem;
	width: 21.875rem;
	background: url(../images/bg_trans.png);
	height: 6.25rem;
	padding: 0.625rem;
	color: #FFFFFF;
}

.lof-slidecontent .slider-description h4 {
	font-size: 0.875em;
	margin: 0.625rem 0;
	padding: 0;
}

.lof-slidecontent .slider-description .slider-meta a {
	margin: 0;
	font-size: 0.92em;
	padding: 0.125rem 0.1875rem;
	font-family: "Trebuchet MS", Trebuchet, Arial, Verdana, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #666;
	color: rgb(51, 204, 255);
	font-weight: bold;
}

.lof-slidecontent .item-meta a:hover {
	text-decoration: underline;
}

.lof-slidecontent .item-meta i {
	font-size: 70%;
}

/* item navigator */

.navigator-wrapper {
	color: #FFFFFF;
	float: left;
	height: 11.25rem;
	overflow: hidden;
	position: relative;
	width: 19.375rem;
	z-index: 100;
}

.navigator-wrap-inner {
	top: 0;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
}

.lof-slidecontent ul.navigator-wrap-inner li {
	cursor: hand;
	cursor: pointer;
	list-style: none;
	padding: 0;
	margin-left: 0px;
	overflow: hidden;
	float: left;
	display: block;
	text-align: center;
}

.lof-slidecontent ul.navigator-wrap-inner li span {
	display: block;
	padding: 0.6875rem;
	position: relative;
	line-height: 0.5em
}

.lof-slidecontent ul.navigator-wrap-inner li.active,
.lof-slidecontent ul.navigator-wrap-inner li:hover {
	background: #FFF;
	color: #000;
	display: block;
	-moz-transition: background-color 0.8s;
	transition: background-color 0.8s;
}



.lof-slidecontent .button-next,
.lof-slidecontent .button-previous {
	display: block;
	width: 1.25rem;
	color: #FFF;
	cursor: pointer;
	position: absolute;
	height: 100%;
	z-index: 40;
	top: 0;
	text-indent: -62.4375rem;

}

.lof-slidecontent .button-next {
	right: 0px;
	background: url(../images/next.png) no-repeat right center;
}

.lof-slidecontent .button-previous {
	left: 0px;
	background: url(../images/previous.png) no-repeat left center;
}

.lof-slidecontent .button-control {
	float: left;
	height: 1.875rem;
	width: 1.75rem;
	cursor: pointer
}

.lof-slidecontent .action-start {
	background: url(../images/play.png) no-repeat center center #FFF;
}

.lof-slidecontent .action-stop {
	background: url(../images/pause.png) no-repeat center center #FFF;
}

.lof-slidecontent .slider-content {
	color: #ffffff;
	font-size: 0.75em;
	margin-top: 0.1875rem;
	line-height: 180%;
}